*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: "Lato", sans-serif;
    overflow: hidden;
    //background: linear-gradient(to left, #FFD9C2, #fae4dc);
    //background-color: #EBE9E1;
    background-color: #DDD0C8;
}